@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Major+Mono+Display&display=swap');

:root {
    --cor-primaria: #F8FAE5;
    --cor-secundaria: #F4CE14;
    --cor-terciaria: #E94E1B;
    --cor--fundo: #ffffff;
    --cor-hover: #F8FAE5;
}
body{
    display: flex;
    width: min-content;
    margin: 5% 10%;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--cor-secundaria);
}
main{
    margin: 5%;
}
header{
display: flex;
width: 688px;

}
.header_logo{
    display: flex;
    align-items: center;
    position: relative;
}
.logo{
    width: 55px;
}

.header_paragrafo{
    color: var(--cor-secundaria);
    font-size: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    color: var(--cor-terciaria);
    margin-left: 4%;
    font-size: 24px;
    margin-top: 3%;
}
main{
    width: min-content;
}

.sessao_um{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ladoEsquerdo{
    border-top: solid 10px #F4CE14;
    border-left: solid 10px #F4CE14;
    background-color: var(--cor-primaria);
    display: inline-block;

    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 0px;
}
.ladoEsquerdo_textoArea{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-size: 14px;
    padding-top: 10%;
    font-family: 'Major Mono Display', monospace;
    border-color: var(--cor-primaria);
}
.ladoDireito{
    border-top: solid 10px var(--cor-secundaria);
    border-left: solid 10px var(--cor-secundaria);
    border-radius: 7%;
    background-color: var(--cor-primaria);
    display: inline-block;
    width: 224px;
    padding: 0% 2% 2% 2%;
}
.ladoDireito_img_criancas{
    width: 124px;
}
h4 {
    font-family: 'Cousine', monospace;
    color: var(--cor-terciaria);
    font-size: 13px;
}
#button_copiar{
    margin:  8% 3% 0% 3%;
}
p {
    color: var(--cor-terciaria);
    font-family: 'Cousine', monospace;
   font-size: 10px;
}
.sessao_dois_paragrafo{
display: flex;
align-items: center;
}
.exclamacao{
width: 20px;
}
button {
    font-family: 'Cousine', monospace;
    font-size: 14px;
    height: 62px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 70px;
    border: solid 1px var(--cor-secundaria);
    transition: all 0.2s ease;
    cursor: cell;
}
button:active {
    transform: scale(0.96)
}
.button_crip {
    margin-right: 30px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.button_desc:hover {
    background-color: var(--cor-hover);
}

.button_desc {
    color: var(--cor-secundaria);
}
footer {
    display: flex;
    background-color: var(--cor-primaria);
    text-align: center;
    padding-right: 200px;
    justify-content: center;
    width: 488px;
}

a {
    display: flex;
    margin-left: 160px;
    margin-right: 20px;
    padding: 2% 0px 1% 0px
}
@media(max-width: 778px){
    body{
        width: 400px;
    }
    header{
        width: 401px;
    }
    main{
        width: 422px;
    }
    h1{
        text-align: center;
        font-size: 14px;
    }
    .sessao_um{
        width: 437px;
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .ladoDireito{
        width: 156px;
    }
    .ladoDireito_img_criancas{
        width: 80px;
    }
    h4{
        font-size:9px ;
    }
    p{
        font-size:7px ;
    }
    .sessao_dois{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;

    }
  button{
    width: 173px;
    height: 30px;
    font-size: 10px;
    margin: 5px;
  }
  .button_crip{
    margin-right:0px ;
  }
    footer{
        width: 200px;
    }
    a{
        margin: auto;
    }
}
